<div class="contact">
	<div class="main">
		<div>
			<h3>Location?</h3>
			<p>
				We're located at Jalan Jelatek and we welcome guests! Whether it be for understanding of our program or for checking out what Science Kids do, feel free to drop us a message or set up an appointment to meet us. We serve coffee!
			</p>
		<div>
		</div>
			<h3>Drop by and say hello! </h3>
			<p>
				Address: E-3A-01, Seri Maya Condo Jalan Jelatek 54200 Kuala Lumpur.
				<br>
				Email: <strong>hello@sciencekids.com.my</strong>
				<br>
				Phone: <strong>+6017-2808-506 / +6016-2263-236</strong>
			</p>
		</div>
	</div>
	<div class="map">
		<div id="contact-loading"><img src="rsc/octocat-spinner-loading.svg"></div>
		<style="width: 100%"><iframe width="100%" height="400" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=E-3A-01%2C%20Seri%20Maya%20Condo%20Jalan%20Jelatek%2054200%20Kuala%20Lumpur.+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a http://www.mapsdirections.info/de/erstellen-sie-eine-google-map/">Google Maps karte einbinden</a> by <a href="http://www.mapsdirections.info/de/">Erstellen Google Map</a></iframe><br />
	</div>
</div>
